  <head>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
  </head>
<h1>New task</h1>
<%= form_for(@task) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :details %>
<%= f.text_field :details %>

<%= f.submit %>
<% end %>

<%= link_to "Create a new task", tasks_new_path  %>
<%= link_to "Back to the list", index_path %>
